@import "reset";
@import "_mixins";
@import "stile";
@import "kompleks-shkil";

section{.inline;}

strong{font-weight: bold;
       color: black;}

h1{.fonts(32px,black);
   line-height: 45px;
   margin-bottom: 20px;}

h2{.fonts(20px,black,700);
    margin: 40px 0px 20px 0px;}

h3{.fonts(15px,#696969,700);}

b{font-weight: bold;}

img{width: 100%;}

ul.norm {padding-left: 5%;
         & li{color: #696969;
              line-height: 18px;
              list-style: disc;}}
     
.centr{padding-left: 30%;}
.cent{text-align: center;}

.left{text-align: left;}
.pad-left10{padding-left: 10%}
.pad-left20{padding: 3% 0 0 15%;}
.pad-left40{padding: 3% 0 0 40%;}
.pad-left38{padding: 3% 0 0 38%;}
.pad-lf{padding-left: 2%;}
.pad-lf5{padding-left: 5%;}

main{width: 75%;
	 .inline;
	 margin-left: 4%;
	 position: relative;
	 & a{color: blue;}
	 & a:hover{color: black;};
	 
     & div.text-section p:first-child{.fonts(19px,blue,bold);
     	                                margin: 25px 0;
     	                                letter-spacing: -1px;
     	                                & a{color: blue;
     	              	                    text-decoration: none;
     	              	                    &:hover{color: black;}}}
     & div.text-section:first-child p:nth-child(3){.fonts(14px,#696969);
     	                                           line-height: 20px;}
     & div.text-section p:nth-child(3){.fonts(12px,#696969);
     	                               line-height: 20px;}
     & div.text-section p:nth-child(4){.fonts(18px,blue,bold);
				     	               margin: 30px 0 15px 0;
				     	               letter-spacing: -1px;
				     	               text-align: right;
				     	               vertical-align: bottom;
				     	               color: blue;
				     	               &>a:visited{color: blue;}
				     	               &>a:hover{color: black;}}   	               
     & div.text-section hr{margin: 0;};}

.text-section{text-align: left;}

.welcom{width: 85%;
        overflow: hidden;
        margin-bottom: 10px;}

.big-logo{width: 150px;
	      clear: both;
          & img{float: left;
          	    margin: 0 18px 20px 0;};}

.big-logo-mari{width: 200px;}
.big-logo-gurn{width: 500px;}
.big-logo-univer{width: 35%;}
.big-logo-fin{width: 40%;}
.big-logo-WSEH{width: 38%;}
.big-logo-dietl{width: 15%;}
.big-logo-Pol{width: 20%;}
.big-logo-vinc{width: 30%}

// Opisanie stranic//

.text-ucheba{text-align: justify;
             .fonts(14px, #696969);
             line-height: 18px;
             & p:nth-child(3){margin-bottom: 30px;}
             & p:nth-child(4){margin-bottom: 50px;}
             & ul>li{margin-bottom: 25px;
	             	 display: block;
	             	     &>ul>li{display: list-item;
	             	             margin: 5px 0 5px 30px;
	             	             list-style: disc;}}}

ul.kompleks-ekonom{& li{display: list-item;
                        list-style: disc;
                        margin-bottom: 10px;
                        &:last-child{margin-bottom: 50px;}}}

// universitet //

.text-univer p,span{width:100%;
	                  text-indent: 15px;
                    margin-bottom: 15px;
                    text-align: justify;
                    .fonts(14px, #696969);
                    line-height: 18px;
                    position: relative;}

.uew{.float(25%,right,0px,0px,0px,10px)}

.bizn{.float(45%,right,0px,0px,0px,20px)}
.stud{.float(45%,left,0,20px,0,0)}

.um{.float(40%,right,0px,0px,0px,20px)}
.um1{.float(25%,left,0,20px,0,0)}
.um2{.float(26%,left,0,20px,0,0)}

ul.spisok-univer{& li{display: list-item;
	                list-style: disc;
	                .fonts(14px, #696969);
	                 padding-bottom: 2px;
	                 margin-left: 45px;
	                 line-height: 17px;
	                 text-align: justify;}}

.cl{.inline;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0;
    vertical-align: top;}

div.cl{&>img:first-child{width: 25%;
                         margin-right: 2px;};
 	   &>img:nth-child(2){width: 25%;
 	                      margin-right: 2px;};
 	   &>img:last-child{width: 26%;
 	   	                margin: ;};}
table{width: 100%;
	    text-align: center;
	    border-collapse: collapse;
	    & thead{background-color: #5F9EA0;
       	       .fonts(15px, white);
       	       line-height: 20px;
       	       border-right: 1px solid #5F9EA0;};
      & tbody p,span{color: #696969;
      	             &:first-child{padding-top: 10px;}};}

.tab-bord-bot{border-bottom: 1px solid #696969;}
.tab-bord-rig{border-right: 1px solid #5F9EA0;}
.tab-bord-left{border-left: 1px solid #5F9EA0;}
.tab-bord-left1{border-left: 1px solid #696969;}
.tab-bord-rig1{border-right: 1px solid #696969;}

.w37{width: 37.5%;}
.w25{width: 25%;}
.w50{width: 50%;}

.vert{vertical-align: middle;}

#ind{text-indent: 0;}

ul.left{& li{.fonts(14px, #696969);
	           list-style: none;
	           line-height: 23px;};
	    &.tire li:before{content: "-";
	                padding-right: 5px;
	                color: #696969;}}

td.tab-bord-left span{line-height: 100%;}

.vipad-spis{margin-left: 15px;
	          border: 1px solid #C0C0C0;
            border-radius: 2px;
            padding: 0;
            margin-bottom: 20px;
            & div.ss{line-height: 26px;
                     background-color: #C0C0C0;
                     }
            & a{padding-left: 3%}
            & div#ident,#inform,#pravo,#sec,#posledip,#evro,#histor,#ohor,#socio,#ped,#polit,#maneg{background-color: white;
                                                                                                    margin: 0 10px 0 5px;
                                                                                                    & p{padding: 0 10px 0 3px;}
            	                                                                                      & ul {padding-left: 5%;
            	        	                                                                            & li{line-height: 20px;
                                                                                                         list-style: disc;
            	        	                                                                                 color: #696969;
            	        	                                                                                 .fonts(13px, #696969)}}}}

#abzac{text-indent: 0px;} 

.ln{line-height: 150%;}

.decim{list-style: decimal;}

.alpha{list-style: lower-alpha;}

.decim,.alpha{color: #696969;}

ul.decim p{text-indent: 0px;}

.indigo{color: #4B0082;}     	        	        